KeyboardLightsFun/Patterns.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Patterns">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Pattern">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="State">
                <xs:complexType>
                  <xs:attribute name="numLock" type="xs:boolean" use="required" />
                  <xs:attribute name="capsLock" type="xs:boolean" use="required" />
                  <xs:attribute name="scrollLock" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>